	body{

		font-family: 'Noto Serif', serif;
		padding:  20px;
		background-image: url("lake.jpg");

		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}


* {
  box-sizing: border-box;
}

.foto{
  float: left;

}
/*ICON*/

.fa  {
  padding-left: 20px;
  padding-right: 20px;
  }

/*MAIN*/
.main {
  width: 80%;
  margin: auto;
  border: 3px solid #654e23;
  padding: 20px;
  background: rgba(171,164,144,0.27);

}
.foto1{
  margin-bottom: 13%;
}

.responsive {
  width: 100%;
  height: auto;
}

.img1{
  float: left;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
}
.text1{
  background: rgba(202,168,131,0.76);
  text-align: justify;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;

}
.text2{
  background: rgba(202,168,131,0.76);
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}


.img2{
  float: right;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;

}

.div4 {
  clear: both;
}

h1{
	text-align:  center;
	font-size: 40px;
  font-style: italic;
  color: #f1d3a7;
  text-shadow: 2px 2px 4px #000000;
}

h3{
  text-align: center;
  font-style: italic;
  color: #f1d3a7;
  text-shadow: 2px 2px 4px #000000;
}

h2{
  text-align: center;
  font-style: italic;
  color: #f1d3a7;
  text-shadow: 2px 2px 4px #000000;
}
h5{
  text-align: center;
}

p{
	color: white;
	font-size: 22px;
  margin: 0;
}
/*CAMEL WITH TITLE*/

.title{
  position: relative;
}
.camel{
  position: absolute;
  top: 7px;
  left: 410px;
}

/* MENU NAVBAR */

.button {
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  border-radius: 8px;
  text-shadow: 2px 2px 4px #716666;
  cursor: pointer;
}

.button2 {
  background-color: rgba(202, 168, 131, 1);
  color: white;
  border: 2px solid #654e23;
}
.button2:hover {
  background-color: #654e23;
  color: white;
}

/*RESPONSIVE HEADER*/
.header {
  text-align: center;
  margin: 50px;
  overflow: hidden;
  padding: 16px;
  background: rgba(224,217,197,0.27);
}


.footer{
  text-align:center;
  padding:10px;
  margin-top:7px;
  color: white;
}


hr.new5 {
  border: 1px solid #caa883;
  border-radius: 1px;

}

/*ROW FOR ALL*/

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

a{
  text-decoration: none;
}
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.menu li:hover {
  background-color: #0099cc;
}

.right{
  background: rgba(202,168,131,0.76);
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu{
   background: rgba(202,168,131,0.76);
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.table{
  background: rgba(202,168,131,0.76);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-right: 5px;
  margin-left: 5px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 49%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media  screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .table{
    margin: 0;
}
 .camel{
  display: none;

  }
}



@media screen and (max-width: 600px) {
  .header a, .main{
    float: left;
    display: block;
    width: 100%;
    text-align: left;
  
  }

  .header{
    margin: 0;
    margin-bottom: 20px;
  }

  .table{
    margin: 0;
  }

 .camel{
  display: none;
 }

}





  
